<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body class="bg-black-100">
  <div class="container">
    <header class="flex justify-between items-center py-7 md:py-5 border-b border-black-0 relative">
      <h1>
        <a href="./index.html" class="block bg-[url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/logo.png?raw=true')] bg-cover overflow-hidden whitespace-nowrap indent-[101%] w-[147px] h-6 md:w-[245px] md:h-10">
          AI工具王
        </a>
      </h1>
      <nav>
        <a href="" class="flex items-center justify-center lg:hidden w-10 h-10" id="menu-toggle" data-icon="open">
          <img src="./assets/images/menu.png" alt="三條白線，水平並排">
        </a>
        <div class="hidden lg:block">
          <ul class="flex md:gap-x-5">
            <li>
              <a href="./index.html" class="block">首頁</a>
            </li>
            <li>
              <a href="" class="block">定價</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <nav class="hidden" id="menu">
      <ul class="flex flex-col justify-center items-center py-48">
        <li class="text-7xl font-black">
          <a href="./index.html" class="block">首頁</a>
        </li>
        <li class="text-7xl font-black mt-2">
          <a href="" class="block">定價</a>
        </li>
      </ul>
    </nav>
    <%- contents %>
    <footer class="border-t border-black-0 py-5">
      <div class="flex justify-between flex-wrap">
        <span class="text-base leading-6 py-3 basis-1/2 lg:basis-2/12">AI工具王 © 2023</span>
        <a href="" class="leading-6 flex item-center justify-end gap-x-4 py-3 basis-1/2 lg:basis-7/12 lg:order-3" id="goTop">
          Back to top
          <img src="./assets/images/arrow-upward.png" alt="白色向上指示的箭頭符號" class="w-4 h-4">
        </a>
        <ul class="flex gap-x-5 mt-3 lg:mt-0 lg:order-2 basis-full lg:basis-3/12">
          <li>
            <a href="#" class="block leading-6 py-3">Facebook</a>
          </li>
          <li>
            <a href="#" class="block leading-6 py-3">Twitter</a> 
          </li>
          <li>
            <a href="#" class="block leading-6 py-3">Instagram</a>
          </li>
        </ul>
      </div>
    </footer>
  </div>

  

  
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
