@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.2;
    scroll-behavior: smooth;
    @apply text-black-0
  }


  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth; 
    } 
  }
}